<% provide(:title, "About") %>
<h1>Quienes somos</h1>
<p>
  El <a href="https://smarterunners.xyz/"><em>Team Smart Runners</em></a>, es un grupo de corredores conformado a partir de 2018 que comparten sus rutinas de entrenamiento y se mantienen motivados en un estilo de vida saludable.
 
</p>