<footer class="footer">
  <small>
    El <a href="https://smartrunners.xyz/">Team Smart Runners</a>
    por Eduardo Medina
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quienes somos",   about_path %></li>
      <li><%= link_to "Contactos", contact_path %></li>
      <li><a href="https://smartrunners.xyz/">Noticias</a></li>
    </ul>
  </nav>
</footer>